@use "forward" as fw;

/* 
rgba(28, 29, 34, 1) - textos em destaque
rgba(28, 29, 34, 0.5) - textos
rgba(28, 29, 34, 0.04) - para o fundo
rgba(255, 121, 121, 1) - para erros
rgba(120, 215, 0, 1) - para verde
rgba(255, 160, 72, 1) - para laranja
rgba(75, 105, 255, 1) - para azul 
*/

body {
  background: rgb(0, 161, 255);
  background: linear-gradient(
    180deg,
    rgba(45, 223, 255, 0.6) 0%,
    rgb(0, 161, 255) 100%
  );

  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/image/figure/01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    @media (max-width: 800px) {
      background-size: cover;
    }
  }
}

.loading {
  @include fw.loading;
}

/* login */
.login {
  font-family: "Exo 2", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);

    h1 {
      margin-bottom: 40px;
      color: rgba(51, 51, 51, 0.9);
      font-weight: 800;
    }
    > .wrap-input100 {
      position: relative;
      height: 85px;
      width: 100%;
      margin-bottom: 15px;

      input {
        font-size: 15px;
        color: #adadad;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 44px;
        background: transparent;
        padding: 0 5px;
        border: none;
        border-bottom: 1px solid #999999;
      }
      input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
      }
      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 42px;
        top: 0;
        pointer-events: none;
        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
          background: #6a7dfe;
          background: -webkit-linear-gradient(left, #21d4fd, #2521ff);
          background: -o-linear-gradient(left, #21d4fd, #2521ff);
          background: -moz-linear-gradient(left, #21d4fd, #2521ff);
          background: linear-gradient(left, #21d4fd, #2521ff);
        }
        &::after {
          font-family: "Exo 2", sans-serif;
          font-size: 15px;
          font-weight: 300;
          color: #999999;
          line-height: 1.2;

          content: attr(data-placeholder);
          display: block;
          width: 100%;
          position: absolute;
          top: 16px;
          left: 0px;
          padding-left: 5px;

          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
        }
      }

      > .error {
        @include fw.error-style;
      }
    }

    .btn-clear {
      font-family: "Poppins", sans-serif;
      display: flex;
      align-items: center;
      color: #666666;
      font-size: 13px;
      margin-top: 30px;
      .clear {
        transition: all 0.4s;
        cursor: pointer;
        color: #007bff;
        background-color: transparent;
        border: none;
        margin-bottom: 1px;
        padding: 10px;
        &:hover {
          color: #636363;
        }
      }
    }
    .btn-solid {
      position: relative;
      width: 100%;
      .wr-solid {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;

        .wr-sol {
          position: absolute;
          z-index: -1;
          width: 300%;
          height: 100%;
          background: #a64bf4;
          background: -webkit-linear-gradient(
            right,
            #21b7fd,
            #2521ff,
            #219afd,
            #2521ff
          );
          background: linear-gradient(
            right,
            #21b7fd,
            #2521ff,
            #219afd,
            #2521ff
          );
          top: 0;
          left: -100%;
          -webkit-transition: all 0.4s;
          transition: all 0.4s;
        }
        .button-solid {
          outline: none !important;
          border: none;
          background: transparent;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 1px;
          color: #fff;
          font-family: "Exo 2", sans-serif;
          line-height: 1.2;
          text-transform: uppercase;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          width: 100%;
          height: 40px;
          &:hover {
            cursor: pointer;
          }
        }
        &:hover .wr-sol {
          left: 0;
        }
      }
    }
    .btn-outline {
      font-family: "Poppins", sans-serif;
      display: flex;
      align-items: center;
      color: #666666;
      font-size: 13px;
      margin-top: 30px;
      position: relative;
      .outline {
        transition: all 0.4s;
        cursor: pointer;
        margin-left: 5px;
        color: #007bff;
        background-color: transparent;
        border: none;
        margin-bottom: 1px;
        &:hover {
          color: #636363;
        }
      }
    }
  }
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}
/*---------------------------------------------*/
.todo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-image: url(/assets/image/figure/01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(left, #21d4fd, #2521ff);
  background: -webkit-linear-gradient(#21d5fd4b, #2521ff46);
  .todo-wrapper {
    width: 100%;
    max-width: 748px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: rgba(28, 29, 34, 1);
        padding: 10px;
        font-size: 36px;
        font-weight: 700;
      }
      > button {
        cursor: pointer;
        width: 80px;
        padding: 5px;
        font-size: 14px;
        color: white;
        background-color: fw.$primary-color;
        border: none;
        border-radius: 5px;
      }
    }

    /* register */
    .register {
      padding-bottom: 10px;
      border-bottom: 1px dashed rgba(28, 29, 34, 0.2);

      > form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
          font-size: 20px;
          font-weight: 400;
        }
        .wrapper-input {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .form-field {
            display: block;
            width: 100%;
            padding: 3px 10px;
            line-height: 20px;
            font-size: 14px;
            font-weight: 500;
            font-family: inherit;
            border-radius: 6px;
            color: #99a3ba;
            border: 1px solid #cdd9ed;
            background: #fff;
            transition: border 0.3s ease;
            &::placeholder {
              color: #cbd1dc;
            }
            &:focus {
              outline: none;
              border-color: rgba(75, 105, 255, 1);
            }
          }

          .form-inpt {
            position: relative;
            display: flex;
            width: 100%;
            height: 35px;
            & > span,
            .form-field {
              white-space: nowrap;
              display: block;
              &:not(:first-child):not(:last-child) {
                border-radius: 0;
                width: 100%;
                max-width: 350px;
              }
              &:first-child {
                border-radius: 6px 0 0 6px;
              }
              &:last-child {
                border-radius: 0 6px 6px 0;
              }
              &:not(:first-child) {
                margin-left: -1px;
              }
            }
            .form-field {
              position: relative;
              z-index: 1;
              flex: 1 1 auto;
              width: 1%;
              margin-top: 0;
              margin-bottom: 0;
            }

            span {
              width: 70px;
              text-align: center;
              padding: 4px 12px;
              font-size: 14px;
              line-height: 25px;
              color: #99a3ba;
              background: #eef4ff;
              border: 1px solid #cdd9ed;
              transition: 0.3s ease, border 0.3s ease, color 0.3s ease;
            }
            &:focus-within {
              & > span {
                color: #fff;
                background: rgba(75, 105, 255, 1);
                border-color: rgba(75, 105, 255, 1);
              }
            }
          }

          button {
            cursor: pointer;
            width: 100%;
            max-width: 70%;
            padding: 10px;
            margin: auto;
            text-align: center;
            color: #fff;
            background-color: #4b69ff;
            border: none;
            border-radius: 5px;
            &:hover {
              background-color: rgba(28, 29, 34, 0.5);
            }
          }

          #notificationField {
            width: 100%;
            height: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            background-color: #eef4ff;
            border: 1px solid #eef4ff;
            border-radius: 5px;
            .notification {
              line-height: 1.6;
              &.error {
                color: red;
              }
              &.success {
                color: rgb(0, 133, 11);
              }
            }
          }
        }
      }
    }

    /* css modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      .modal-content {
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        margin-top: 60px;
        border: 1px solid #888;
        width: 100%;
        max-width: 500px;

        h2 {
          font-size: 28px;
          margin-bottom: 15px;
        }
        #editForm {
          display: flex;
          flex-direction: column;
          gap: 3px;

          input {
            padding: 5px;
            margin-bottom: 10px;
          }
          button {
            cursor: pointer;
            width: 80px;
            padding: 5px;
            font-size: 14px;
            color: #fff;
            background-color: #2e54ff;
            border: none;
            border-radius: 5px;
          }
        }
      }
    }

    /* search */
    .search {
      display: flex;
      padding: 30px 0px 10px;
      margin-bottom: 10px;
      border-bottom: 1px dashed rgba(28, 29, 34, 0.2);
      position: relative;
      &:before {
        content: "Pesquisar:";
        position: absolute;
        top: 7px;
        left: 10px;
        font-weight: 300;
        font-size: 12px;
      }
      form {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;

        > :first-child {
          background-color: rgb(205, 214, 151);
          padding: 5px;
          border-radius: 5px;
          background: #eef4ff;
          width: 100%;
          input {
            width: 100%;
            height: 30px;
            padding: 10px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 4px;
            color: #707070;
            border: 1px solid #cdd9ed;
            background: #fff;
            &:focus {
              border: 1px solid rgba(75, 105, 255, 1);
              outline: none;
            }
          }
        }

        select {
          height: 30px;
          font-size: 14px;
          font-weight: 400;
          background: #fff;
          color: #707070;
          border-radius: 4px;
          border: 1px solid #cdd9ed;

          &:focus {
            border: 1px solid rgba(75, 105, 255, 1);
            outline: none;
          }
        }
      }
    }

    /* listing */
    .listing {
      .list-header {
        display: flex;
        background-color: #eef4ff;
        padding: 5px;
        h3 {
          font-size: 14px;
          font-weight: 300;
        }
      }
      table {
        margin-bottom: 40px;
        border-collapse: collapse;
        width: 100%;

        tbody {
          tr {
            &:nth-child(even) {
              background-color: #f3f3f3;
            }
            th {
              // border: 1px solid green;
              font-size: 13px;
              font-weight: 300;
              a {
                padding: 5px;
                width: 100%;
                display: block;
                text-align: left;
                cursor: pointer;
                font-weight: 500;
                text-decoration: none;
                font-size: 14px;
                color: rgba(28, 29, 34, 1);
              }
            }
            .tag {
              padding: 0px 5px;
              width: 20%;
              font-size: 12px;
            }
            .edit {
              cursor: pointer;
              width: 25px;
              height: 25px;
              // background-image: url(/assets/image/svg/edit.svg);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 18px;
            }
            .delete {
              cursor: pointer;

              width: 25px;
              height: 25px;
              // background-image: url(/assets/image/svg/trash.svg);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 15px;
            }
          }
        }
      }
    }
  }
  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(28, 29, 34, 0.04);
    padding: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: #f7f7f7;
    h2 {
      font-size: 22px;
      color: rgba(28, 29, 34, 1);
    }
    p {
      color: rgba(28, 29, 34, 0.5);
      font-size: 14px;
      a {
        cursor: pointer;
        color: rgba(28, 29, 34, 0.9);
        padding: 5px;
        font-weight: 600;
      }
    }
  }
}
