@use "forward" as fw;

/* 
rgba(28, 29, 34, 1) - textos em destaque
rgba(28, 29, 34, 0.5) - textos
rgba(28, 29, 34, 0.04) - para o fundo
rgba(255, 121, 121, 1) - para erros
rgba(120, 215, 0, 1) - para verde
rgba(255, 160, 72, 1) - para laranja
rgba(75, 105, 255, 1) - para azul 
*/

.todo {
  width: 100%;
  max-width: 748px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  h1 {
    color: rgba(28, 29, 34, 1);
    padding: 10px;
    font-size: 36px;
    font-weight: 700;
  }
}

/* register */
.register {
  padding-bottom: 10px;
  border-bottom: 1px dashed rgba(28, 29, 34, 0.2);
  > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 20px;
      font-weight: 400;
    }
    .wrapper-input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .form-field {
        display: block;
        width: 100%;
        padding: 3px 10px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 500;
        font-family: inherit;
        border-radius: 6px;
        color: #99a3ba;
        border: 1px solid #cdd9ed;
        background: #fff;
        transition: border 0.3s ease;
        &::placeholder {
          color: #cbd1dc;
        }
        &:focus {
          outline: none;
          border-color: rgba(75, 105, 255, 1);
        }
      }

      .form-inpt {
        position: relative;
        display: flex;
        width: 100%;
        & > span,
        .form-field {
          white-space: nowrap;
          display: block;
          &:not(:first-child):not(:last-child) {
            border-radius: 0;
            width: 100%;
            max-width: 350px;
          }
          &:first-child {
            border-radius: 6px 0 0 6px;
          }
          &:last-child {
            border-radius: 0 6px 6px 0;
          }
          &:not(:first-child) {
            margin-left: -1px;
          }
        }
        .form-field {
          position: relative;
          z-index: 1;
          flex: 1 1 auto;
          width: 1%;
          margin-top: 0;
          margin-bottom: 0;
        }

        & > span {
          text-align: center;
          padding: 8px 12px;
          font-size: 14px;
          line-height: 25px;
          color: #99a3ba;
          background: #eef4ff;
          border: 1px solid #cdd9ed;
          transition: 0.3s ease, border 0.3s ease, color 0.3s ease;
          &.second {
            background-color: transparent;
            border: none;
          }
        }
        &:focus-within {
          & > span {
            color: #fff;
            background: rgba(75, 105, 255, 1);
            border-color: rgba(75, 105, 255, 1);
            &.second {
              color: rgba(28, 29, 34, 1);
              background-color: transparent;
              border: none;
            }
          }
        }

        > div {
          margin-left: 20px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 3px;
          max-width: 50%;
          > div {
            cursor: pointer;
            display: flex;
            gap: 10px;
            border: 1px solid rgba(28, 29, 34, 0.5);
            height: 17px;
            width: 17px;
          }
        }
      }
      button {
        cursor: pointer;
        width: 100%;
        max-width: 70%;
        padding: 10px;
        margin: auto;
        text-align: center;
        color: #fff;
        background-color: #4b69ff;
        border: none;
        border-radius: 5px;
        &:hover {
          background-color: rgba(28, 29, 34, 0.5);
        }
      }
    }

    .previa {
      padding: 5px;
      border-radius: 5px;
      background: #eef4ff;
      cursor: not-allowed;
      > div {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 43px;
        padding: 15px 10px 3px;
        line-height: 0px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 4px;
        color: #707070;
        border: 1px solid #cdd9ed;
        background: #fff;
        position: relative;
        &::before {
          content: "Previa:";
          position: absolute;
          top: 7px;
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }
}

/* search */
.search {
  display: flex;
  padding: 30px 0px 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed rgba(28, 29, 34, 0.2);
  position: relative;
  &:before {
    content: "Pesquisar:";
    position: absolute;
    top: 7px;
    left: 10px;
    font-weight: 300;
    font-size: 12px;
  }
  form {
    display: flex;
    align-items: center;
    gap: 20px;

    > :first-child {
      background-color: rgb(205, 214, 151);
      padding: 5px;
      border-radius: 5px;
      background: #eef4ff;
      input {
        width: 100%;
        height: 30px;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 4px;
        color: #707070;
        border: 1px solid #cdd9ed;
        background: #fff;
        &:focus {
          border: 1px solid rgba(75, 105, 255, 1);
          outline: none;
        }
      }
    }
    > :last-child {
      width: 120px;
      padding: 5px;
      display: flex;
      border-radius: 5px;
      background: #eef4ff;

      select {
        width: 100%;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        background: #fff;
        color: #707070;
        border-radius: 4px;
        border: 1px solid #cdd9ed;
        &:focus {
          border: 1px solid rgba(75, 105, 255, 1);
          outline: none;
        }
      }
    }
  }
}

/* listing */
.listing {
  // background-color: rgb(141, 252, 141);
  .list-header {
    display: flex;
    justify-content: space-between;
    background-color: #eef4ff;
    padding: 5px;
    h3 {
      font-size: 14px;
      font-weight: 300;
    }
  }
  .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 40px;
    > :nth-child(even) {
      background-color: #f6f9fd;
    }
    .list-line {
      display: flex;
      gap: 5px;
      width: 100%;
      justify-content: space-between;
      :first-child {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        line-height: 30px;
        .list-tag {
          font-size: 12px;
        }
      }
      > :last-child {
        display: flex;
        align-items: center;
        gap: 2px;

        .edit {
          width: 27px;
          padding: 5px;
        }
        .delet {
          width: 24px;
          padding: 5px;
        }
      }
    }
  }
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(28, 29, 34, 0.04);
  padding: 20px;
  align-items: center;
  h2 {
    font-size: 22px;
    color: rgba(28, 29, 34, 1);
  }
  p {
    color: rgba(28, 29, 34, 0.5);
    font-size: 14px;
    a {
      cursor: pointer;
      color: rgba(28, 29, 34, 0.9);
      padding: 5px;
      font-weight: 600;
    }
  }
}
